html, body {
  font-family: Soho Gothic Pro;
  margin: 0;
  width: 100%;
  height: 100%;
}

.des{
    color: white;
    background-color: #252F39;
}

li{
    margin : 0;
    padding: 0;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #5d6065;
}


.left
{
  background-color:#25303A;
  width:50%;
  height:100%;
  float:left;
}
.right
{
  background-color:#CF4747;
  width:50%;
  height:100%;
  float:right;
}
.login
{background-color: #25303A;
 text-align: center;
 width:60%;
 height:75%;
 float:left;
 font-size: 100%;
 font-family: Soho Gothic Pro;
}
.header-right
{
  width:100%;
  height:5%;

}
.header-left
{
  width:100%;
  height:5%;
}
.bar-left
{
  width:60%;
  height:4%;
  background-color:white;
  float:right;
}
.bar-right
{
  width:60%;
  height:4%;
  background-color: white;
  float:left;
}
.MU
{
  width:60%;
  height: 27%;
  padding-top: 30px;
  float:right;
  background-color: #D55C55;
  font-size: 125%;
}
.developed
{
  width:60%;
  height:20%;
  float:right;
  background-color: #CF4747;
}
.content
{
  width:60%;
  height:65%;

}
#top
{
  float:right;
  font-size: 100%;
}
p
{
  text-align:center;
  font-size: 125%;
}
body {
    font-family: "Lato", sans-serif;
}
